<!DOCTYPE html>
<html lang="en" ng-app="myFirstApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="icon" href="benz.png" type="image/gif" sizes="16x16">
</head>
<body ng-app="myFirstApp">
    <section>
        <br><br>
    </section>
    <h2>Hello! Welcome To Assignment 1 </h2>
    <br>
    <div class="container">
        <div ng-controller="MyFirstController">
            <form>
                <div class="form-group" ng-class="inputClass">
                  <label for="exampleInputEmail1">Lunch Menu</label>
                  <input type="text" class="form-control" ng-model="dishes"
                  ng-keyup="reset();"  placeholder="Enter The Items Separated By Comma">
                  
                </div>
                
                <button type="submit" class="btn btn-primary" ng-click="check();">Check If Too Much</button>
                <div class="form-group message" ng-class="messageClass">
                    {{ message }}
                  </div>
              </form>
        </div>
    </div>
    
</body>
</html>